<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-5 col-sm-10">
            <div class="card shadow" style="margin-top: 7rem">
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
                        <div class="card-title text-center mb-5">
                            Welcome on Heroes
                        </div>
                        <!-- Username -->
                        <div class="form-group">
                            <label for="usernameInput">USERNAME</label>
                            <div class="input-group">
                                <input class="form-control" id="usernameInput" required formControlName="username" />
                            </div>
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                            <label for="passwordInput">PASSWORD</label>
                            <input
                                type="password"
                                class="form-control"
                                id="passwordInput"
                                required
                                formControlName="password"
                            />
                        </div>

                        <div *ngIf="invalidCredentialsError" class="invalid-credentials">
                            Invalid credentials, please try again
                        </div>
                        <div *ngIf="serverError" class="invalid-credentials">
                            Server error, we are sorry
                        </div>

                        <button class="submit-btn mt-3" [disabled]="loginForm.invalid">
                            <span
                                *ngIf="loginFormSubmitted"
                                class="spinner-grow spinner-grow-sm mr-2"
                                role="status"
                                aria-hidden="true"
                            ></span
                            >Login
                        </button>

                        <div class="no-account-text mt-2">
                            Don't have an account ? <a routerLink="/register">Register</a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- card -->
        </div>
        <!-- col -->
        <div class="col"></div>
    </div>
</div>
