.clients {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px;
}

.client__username {
    color: #e0e0e0;
}

.client__badge {
    width: 7px;
    height: 7px;
    border-radius: 25px;
    background: #76ff03;
}
