<div class="chat border">
    <div class="chat-header" *ngIf="room"># {{ room.name }}</div>
    <div class="chat__messages" #scrollMe>
        <div *ngFor="let messageObject of messages" class="chat__messages__el">
            <!-- Posteur et date -->
            <div *ngIf="shouldDisplayUsername(messageObject)">
                <span
                    class="chat__messages__el__poster"
                    [ngClass]="{
                        'chat__messages__el__poster--admin': ['admin', 'chow', 'vlaude'].includes(
                            messageObject.poster.username.toLowerCase()
                        ),
                        'chat__messages__el__poster--server': ['bbot'].includes(
                            messageObject.poster.username.toLowerCase()
                        )
                    }"
                    >{{ messageObject.poster.username }}</span
                >
                <span class="chat__messages__el__date ml-2"
                    >{{ messageObject.date | date: 'HH' }} h {{ messageObject.date | date: 'mm' }}</span
                >
            </div>
            <!-- Message -->

            <div
                class="chat__messages__el__message"
                [ngClass]="{
                    'chat__messages__el__message--server': ['bbot'].includes(
                        messageObject.poster.username.toLowerCase()
                    )
                }"
            >
                {{ messageObject.content }}
            </div>
        </div>
    </div>
    <!-- chat messages -->
    <div class="input-group pl-4 pr-4 pt-3">
        <input
            [(ngModel)]="currentMessage"
            (keyup)="$event.keyCode == 13 && sendMessage()"
            type="text"
            class="form-control chat__input"
            placeholder="Say something"
        />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="sendMessage()">
                Send
            </button>
        </div>
    </div>
    <!-- chat input -->
</div>
