<div class="chat border" *ngIf="room">
    <div class="chat-header"># {{ room.name }}</div>
    <div class="chat__messages" #scrollMe>
        <div *ngFor="let message of room.messages">
            <!-- Jour -->
            <div *ngIf="shouldDisplayDay(message)" class="chat__date">
                <div></div>
                {{ message.date | date }}
                <div></div>
            </div>
            <div class="chat__messages__el">
                <!-- Posteur et date -->
                <div *ngIf="shouldDisplayUsername(message)">
                    <span
                        class="chat__messages__el__poster"
                        [ngClass]="{
                            'chat__messages__el__poster--admin': ['admin', 'chow', 'vlaude'].includes(
                                message.poster.username.toLowerCase()
                            ),
                            'chat__messages__el__poster--server': ['bbot'].includes(
                                message.poster.username.toLowerCase()
                            )
                        }"
                        >{{ message.poster.username }}</span
                    >
                    <span class="chat__messages__el__date ml-2"
                        >{{ message.date | date: 'HH' }} h {{ message.date | date: 'mm' }}</span
                    >
                </div>
                <!-- Message -->
                <div
                    class="chat__messages__el__message"
                    [ngClass]="{
                        'chat__messages__el__message--server': ['bbot'].includes(message.poster.username.toLowerCase())
                    }"
                >
                    {{ message.content }}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="typer" class="typer pl-4 pr-4 pt-1">{{ typer }} is typing...</div>
    <!-- chat messages -->
    <div class="input-group pl-4 pr-4 pt-1">
        <input
            [(ngModel)]="currentMessage"
            (keyup)="$event.keyCode == 13 && sendMessage()"
            (keydown)="handleKeyDown()"
            type="text"
            class="form-control chat__input"
            placeholder="Say something"
        />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="sendMessage()" style="font-size: 14px">
                Send
            </button>
        </div>
    </div>
    <!-- chat input -->
</div>
