<svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    id="svg8"
    version="1.1"
    viewBox="0 0 210 297"
    class="pr-2"
    height="40"
    width="40"
>
    <defs id="defs2">
        <linearGradient y2="60" x2="0" y1="0" x1="60" id="vertical-black-red" gradientUnits="userSpaceOnUse">
            <stop id="stop2" stop-color="black" offset="50%" />
            <stop id="stop4" stop-color="red" offset="100%" />
        </linearGradient>
        <linearGradient y2="60" x2="0" y1="0" x1="60" id="vertical-red-black" gradientUnits="userSpaceOnUse">
            <stop id="stop7" stop-color="red" offset="50%" />
            <stop id="stop9" stop-color="black" offset="100%" />
        </linearGradient>
    </defs>
    <g id="layer1">
        <g transform="matrix(2.8662137,0,0,2.8662137,-152.62453,-207.19894)" id="g4560">
            <use
                height="100%"
                width="100%"
                transform="translate(1.4802185,114.48787)"
                id="use5115"
                xlink:href="#path4526-4-4"
                y="0"
                x="0"
            />
            <a id="a4666" />
            <path
                id="path4526-4"
                d="m 149.33501,49.962287 38.51562,0.003 23.4529,-12.765113 1.33634,-38.2195396 -26.32604,-30.8696324 -33.54233,10.289867 -11.89349,35.145943 9.07822,-11.6408476 20.713,-8.59803 34.51023,12.472278 0.37778,28.8808916 -25.12334,5.47903 -31.09889,9.822153 -8.457,-36.415475"
                style="fill:#2b1100;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            />
            <g
                transform="translate(-11.077332,5.4067929)"
                style="fill:#2b1100;fill-opacity:1;stroke:#000000;stroke-opacity:1"
                id="g4943"
            >
                0
                <path
                    id="path5047-1"
                    d="M 242.86171,4.7147331 270.30281,9.2503078 298.08493,4.7605851 270.23687,1.078065 Z"
                    style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.09807594px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    class="visor"
                />
                <g id="g5073" transform="translate(58.594588,-30.067986)">
                    <use
                        height="100%"
                        width="100%"
                        transform="translate(-148.46368,-23.446734)"
                        id="use5096"
                        xlink:href="#g5051"
                        y="0"
                        x="0"
                    />
                    <g transform="translate(0,29.839453)" style="fill:#666666;fill-opacity:1;stroke:none" id="g5051">
                        <path
                            style="fill:#666666;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                            d="m 163.08822,138.37532 7.49896,28.64792 19.93487,9.41412 19.99857,-9.40506 7.79083,-28.61632 m -55.22323,-0.0407 v -11.39504 l 27.4819,-4.94524 27.74133,4.94449 v 11.43645"
                            id="path4504-1-4"
                        />
                    </g>
                    <use
                        height="100%"
                        width="100%"
                        transform="translate(-79.773484,163.8751)"
                        id="use5068"
                        xlink:href="#path5047-1"
                        y="0"
                        x="0"
                    />
                    <use
                        style="fill:#c83737;stroke-width:0.99992544;stroke-miterlimit:4;stroke-dasharray:none"
                        height="100%"
                        width="100%"
                        transform="translate(-148.46369,-23.446774)"
                        id="use5098"
                        xlink:href="#use5068"
                        y="0"
                        x="0"
                    >
                        <title id="title5119">eyeshade</title>
                    </use>
                </g>
                <path
                    id="path5117"
                    d="m 100.66022,119.56403 v 29.15244"
                    style="fill:none;stroke:#000;stroke-width:0.68266678;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    class="line"
                />
            </g>
            <use
                height="100%"
                width="100%"
                transform="translate(-86.891328,112.15984)"
                id="use4885"
                xlink:href="#path4526-4"
                y="0"
                x="0"
            />
            <path
                id="path4526-4-4"
                d="m 68.809904,47.634252 30.669177,0.003 23.452899,-12.76511 1.33634,-38.2195495 -26.326039,-30.8696295 -33.542327,10.289868 -11.893491,35.145941 8.423156,36.41548"
                style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            />
        </g>
    </g>
</svg>
