.navbar {
    border-bottom: 0.05em solid #1a1e21;
    padding: 0.1em 1em;
    background: #263238 !important;
}

.brand {
    color: #eeeeee;
    letter-spacing: 0.1em;
    font-size: 18px;
}

.dropdown-item {
    cursor: pointer;
}

.username {
    color: #eeeeee !important;
}

.disabled {
    color: #bdbdbd !important;
}

.sign-out {
    color: red !important;
}

.sign-out:active {
    background: none;
}
