<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6 col-sm-10">
            <div class="card border-dark" style="margin-top: 5rem">
                <div class="card-header text-white bg-dark border-dark">
                    <h5>Register</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="registerForm">
                        <!-- Username -->
                        <div class="form-group">
                            <label for="usernameInput">Username *</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                </div>
                                <input
                                    class="form-control"
                                    id="usernameInput"
                                    placeholder="Choose a Username"
                                    required
                                    formControlName="username"
                                />
                            </div>
                            <div *ngIf="registerForm.controls.username.errors?.forbiddenName" class="form-error">
                                Use this username is not possible
                            </div>
                            <div
                                *ngIf="
                                    registerForm.controls.username.errors?.minlength &&
                                    (registerForm.touched || registerForm.dirty)
                                "
                                class="form-error"
                            >
                                Minimum length: 4
                            </div>
                        </div>
                        <!-- Email -->
                        <!--                        <div class="form-group">-->
                        <!--                            <label for="emailInput">Email (optional)</label>-->
                        <!--                            <input-->
                        <!--                                type="email"-->
                        <!--                                class="form-control"-->
                        <!--                                id="emailInput"-->
                        <!--                                placeholder="Enter your email"-->
                        <!--                                formControlName="email"-->
                        <!--                            />-->
                        <!--                        </div>-->
                        <!-- Password -->
                        <div class="form-group">
                            <label for="passwordInput">Password *</label>
                            <input
                                type="password"
                                class="form-control"
                                id="passwordInput"
                                placeholder="Choose a password"
                                required
                                formControlName="password"
                            />
                            <div
                                *ngIf="
                                    registerForm.controls.password.errors?.minlength &&
                                    (registerForm.touched || registerForm.dirty)
                                "
                                class="form-error"
                            >
                                Minimum length: 6
                            </div>
                        </div>
                        <!-- Confirm password -->
                        <div class="form-group">
                            <label for="confirmPasswordInput">Confirm password *</label>
                            <input
                                type="password"
                                class="form-control"
                                id="confirmPasswordInput"
                                placeholder="Confirm your password"
                                required
                                formControlName="repeat"
                            />
                            <div
                                *ngIf="
                                    registerForm.controls.repeat.errors?.matchOther &&
                                    (registerForm.touched || registerForm.dirty)
                                "
                                class="form-error"
                            >
                                Passwords missmatch !
                            </div>
                        </div>
                    </form>
                </div>
                <!-- card-body -->
                <div class="card-footer border-dark">
                    <button type="button" routerLink="/login" class="btn btn-primary">
                        Login
                    </button>
                    <button
                        type="button"
                        class="btn btn-success ml-2"
                        (click)="onRegisterFormSubmit()"
                        [disabled]="registerForm.invalid"
                    >
                        <span
                            *ngIf="registerFormSubmitted"
                            class="spinner-grow spinner-grow-sm"
                            role="status"
                            aria-hidden="true"
                        ></span>
                        Register
                    </button>
                </div>
            </div>
            <!-- card -->
        </div>
        <!-- col -->
        <div class="col"></div>
    </div>
</div>
