<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-5 col-sm-10">
            <div class="card shadow" style="margin-top: 4rem">
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()">
                        <div class="card-title text-center mb-4">
                            Join us
                        </div>
                        <!-- Username -->
                        <div class="form-group">
                            <label for="usernameInput">USERNAME *</label>
                            <div class="input-group">
                                <input class="form-control" id="usernameInput" required formControlName="username" />
                            </div>
                            <div *ngIf="registerForm.controls.username.errors?.forbiddenName" class="form-error">
                                Use this username is not possible
                            </div>
                            <div
                                *ngIf="
                                    registerForm.controls.username.errors?.minlength &&
                                    (registerForm.touched || registerForm.dirty)
                                "
                                class="form-error"
                            >
                                Minimum length: 4
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="passwordInput">PASSWORD *</label>
                            <input
                                type="password"
                                class="form-control"
                                id="passwordInput"
                                required
                                formControlName="password"
                            />
                            <div
                                *ngIf="
                                    registerForm.controls.password.errors?.minlength &&
                                    (registerForm.touched || registerForm.dirty)
                                "
                                class="form-error"
                            >
                                Minimum length: 8
                            </div>
                        </div>
                        <!-- Confirm password -->
                        <div class="form-group">
                            <label for="confirmPasswordInput">CONFIRM PASSWORD *</label>
                            <input
                                type="password"
                                class="form-control"
                                id="confirmPasswordInput"
                                required
                                formControlName="repeat"
                            />
                            <div
                                *ngIf="
                                    registerForm.controls.repeat.errors?.matchOther &&
                                    (registerForm.touched || registerForm.dirty) &&
                                    registerForm.value.repeat
                                "
                                class="form-error"
                            >
                                Passwords missmatch !
                            </div>
                        </div>
                        <div *ngIf="usernameAlreadyTaken" class="username-taken">Username already taken</div>
                        <button class="submit-btn mt-4" [disabled]="registerForm.invalid">
                            <span
                                *ngIf="registerFormSubmitted"
                                class="spinner-grow spinner-grow-sm mr-2"
                                role="status"
                                aria-hidden="true"
                            ></span
                            >Register
                        </button>
                        <div class="have-account-text mt-2">
                            Already have an account ? <a routerLink="/login">Login</a>
                        </div>
                    </form>
                </div>
                <!-- card-body -->
            </div>
            <!-- card -->
        </div>
        <!-- col -->
        <div class="col"></div>
    </div>
</div>
