/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('opentype');
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #37474f;
    font-family: 'Open Sans', serif;
}

::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #263238;
    border-radius: 20px;
}
