<div class="row h-100">
    <div class="col-2 room-list">
        <app-room-list
            [rooms]="rooms"
            [roomSelected]="currentRoom"
            [newMessages]="newMessagesOnOthersRooms"
            (newRoomSelected)="handleRoomSelected($event)"
        ></app-room-list>
    </div>
    <div class="col-8 pl-0">
        <app-chat-box [room]="currentRoom" [messages]="messages" (newMessage)="handleNewMessage($event)"></app-chat-box>
    </div>
    <div class="col-2">
        <app-conn-list [socketClients]="socketClients"></app-conn-list>
    </div>
</div>
